src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.7.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    
		<flow name="triggerFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${poll.frequency}" startDelay="${poll.delay}"/>
            <watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.modifiedon]"/>
                <dynamicscrm:retrieve-multiple-by-query config-ref="MS_Dynamics_CRM" query="dsql:SELECT accountnumber,description,fax,modifiedon,industrycode,name,numberofemployees,revenue,sic,telephone1,tickersymbol,websiteurl FROM account WHERE modifiedon &gt; #[lastQueryDate] ORDER BY modifiedon ASC" doc:name="query MS Dynamics accounts"/>
        </poll>
        <choice doc:name="results non empty">
            <when expression="#[payload.size()&gt;0]">
		        <batch:execute name="broadcastAccountBatch" doc:name="Execute broadcastAccountBatch"/>
            </when>
            <otherwise>
                <logger message="No updated accounts found in MS Dynamics. Skipping flow execution." level="INFO" doc:name="no updates found"/>
            </otherwise>
        </choice>
        
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="reference Exception Strategy"/>
    </flow>

</mule>
