src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dynamicscrm="http://www.mulesoft.org/schema/mule/dynamicscrm" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      version="EE-3.6.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/dynamicscrm http://www.mulesoft.org/schema/mule/dynamicscrm/current/mule-dynamicscrm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    
		<flow name="triggerFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${poll.frequency}" startDelay="${poll.delay}"/>
            <watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.modifiedon]"/>
            <processor-chain doc:name="Processor Chain">
                <set-payload value="#[groovy: new java.util.Date(lastQueryDate.getTime() - ${msdyn.offset}).format(&quot;yyyy-MM-dd'T'HH:mm:ss'Z'&quot;, TimeZone.getTimeZone('UTC'))]" doc:name="format datetime"/>
                <logger message="Fetching accounts at: #[payload]" level="INFO" doc:name="log the fetching datetime"/>
                <dynamicscrm:retrieve-multiple-by-query config-ref="MS_Dynamics_CRM" query="dsql:SELECT accountnumber,description,fax,modifiedon,industrycode,name,numberofemployees,revenue,sic,telephone1,tickersymbol,websiteurl FROM account WHERE modifiedon &gt; #[payload] ORDER BY modifiedon ASC" doc:name="query MS Dynamics accounts"/>
                <expression-filter expression="#[payload.hasNext()]" doc:name="filter empty result set"/>
            </processor-chain>
        </poll>
        <batch:execute name="broadcastAccountBatch" doc:name="broadcastAccountBatch"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>

</mule>
